{% extends "layout.html" %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="jumbotron text-center m-3">
  <div class="container">
    <h1 class="display-3">Welcome to Pyshare</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quos dolore sit vel laborum
      blanditiis excepturi, fugiat mollitia maiores nulla culpa cupiditate facere omnis aliquam vitae cumque quas. Fugiat,
      facilis?</p>
  </div>
</div>
{% endblock %}