{% extends "layout.html" %}

{% block title %}
  <title>Item</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="container-fluid mb-5">
      <div class="row justify-content-center mt-5">
        <div class="col-md-6">
          <div class="card text-left p-3">
            <img src="/static/{{post.image}}" alt="" style="width: 500px; height: 500px;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-0 text-left p-3">
            <h4 class="card-title text-danger">{{post.name}}</h4>
            <p>{{post.content}}</p>
            <a href="/review/{{post.id}}">
              <p class="card-text">★★★★★</p>
            </a>
            <p class="text-right">{{post.update_at}}</p>
            <br>
            <!-- <div class="form-group"> -->
              <a href="" class="btn btn-outline-warning">Add Favorite</a>
              <a href="" class="btn btn-outline-primary">Add To Cart</a>
              <a href="" class="btn btn-outline-success" data-toggle="modal" data-target="#updateModal">Update Post</a>
              <a href="/deletePost/{{post.id}}" class="btn btn-outline-danger">Delete Post</a>
            <!-- </div> -->
            <div class="border border-bottom my-3"></div>
            <!-- <p>Share On:</p> -->
            <div class="row">
              <div class="col-md-6">
                <p>Share On:</p>
              </div>
              <div class="col-md-6">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" 
                aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Update View Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="file" class="form-control" name="profile" id="profile" placeholder="Upload Image Here">
          </div>
          <div class="form-group">
            <input type="text" id="updateuserid" class="form-control" hidden>
            <input type="text" id="updateuserid" class="form-control" hidden>
          </div>
          <div class="form-group">
            <input type="text" id="updateusername" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" id="updatepassword" class="form-control" placeholder="Password">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="updatePost()">Update User</button>
          </div>
      </div>
    </div>
  </div>

  <script>
    function updateUser(userid) {
      var userid = $("#updateuserid").val();
      var username = $("#updateusername").val();
      var password = $("#updatepassword").val();
      console.log(`${username}-----${password}`);

      $.ajax({
          type:'PUT',
          url:'/user/data',
          data: {userid:userid, username:username, password:password},
          contentType:'application/x-www-form-urlencoded'
      })
      .done(function(data) {
          $('#updateModal').modal('hide');
        loadData()
      });
    }
  </script>
{% endblock %}
