{% extends "layout.html" %}

{% block title %}
  <title>Umbrella</title>
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container p-3">
      <h1 class="display-3">
        <i class="fa fa-umbrella" aria-hidden="true"></i>
        Umbrella sharing
      </h1>
      <p class="lead">Jumbo helper text</p>
      <p class="lead">
        <!-- <a class="btn btn-primary btn-lg" href="/post" role="button">Add a sharing Item</a> -->
        <input type="button" class="btn btn-primary btn-lg" value="Add a sharing Item" data-toggle="modal" data-target="#addPostModal">
      </p>
    </div>
  </div>
  <div class="container-fluid mb-5">
    <div class="row justify-content-center mt-5">
      <div class="col-md-3">
        <div class="card text-left p-3">
          <p class="card-text">Search Here...</p>
          <form action="/searchUser" method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Product name..." aria-label="Search">
            <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0">
          </form>
          <br>
          <p class="card-text">Category</p>
          <form action="" method="post">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Casual
              </label>  
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Party
              </label>  
            </div>    
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Wedding
              </label>  
            </div>    
          </form>
          <br>
          <p class="card-text">Customer Review</p>
          <div class="form-group">
            <p><a href="">★★★★★ 5.0</a></p>
            <p><a href="">★★★★☆ 4.0</a></p>
            <p><a href="">★★★☆☆ 3.0</a></p>
            <p><a href="">★★☆☆☆ 2.0</a></p>
            <p><a href="">★☆☆☆☆ 1.0</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card text-left p-3">
          <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mb-3">
              <div class="card text-left">
                <!-- <a href="/post/{{post.id}}"> -->
                <a href="/item/{{post.id}}">
                  <img class="card-img-top" src="/static/{{post.image}}" alt="">
                </a>
                <div class="card-body pb-0">
                  <h5 class="card-title text-center">{{post.name}}</h5>
                  <div class="border-bottom"></div>
                  <br>
                  <p class="card-text">{{post.content}}</p>
                  <div class="row">
                    <div class="col-md-6">
                      <a href="/review/{{post.id}}">
                        <p class="card-text">★★★★★</p>
                      </a>
                    </div>
                    <div class="col-md-6 text-right">
                      <a href=""><i class="fa fa-star text-warning" aria-hidden="true"></i></a>
                      <a href=""><i class="fa fa-cart-arrow-down text-primary" aria-hidden="true"></i></a>
                      <a onclick="updateViewUser({{post.id}})"><i class="fa fa-pencil text-success" aria-hidden="true"></i></a> 
                      <a  onclick="deletePost({{post.id}})"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <!-- <p>Last 10 minitue ago</p> -->
                  <br>
                  <p class="dttime">{{post.update_at}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <script>
    
    function deletePost(postid) {
      console.log(postid);
      $.ajax({
          type:'DELETE',
          url:'/post',
          data: {postid:postid},
          contentType:'application/x-www-form-urlencoded'
      })
      .done(function(data) {
          // loadData()
      });
    }

    function updateViewUser(postid) {
      console.log(postid);
      $.ajax({
          type:'GET',
          url:'/post',
          data: {postid:postid},
          contentType:'application/x-www-form-urlencoded'
          })
      .done(function(data) {
          $('#updateModal').modal('show');
          $('#updatepostid').val(data.postid);
          $('#updatepostname').val(data.name);
          $('#updatecontent').val(data.content);
          $('#image').val(data.image);
      });
    }

    // function updatePost(userid) {
    //   var postid = $("#updatepostid").val();
    //   var name = $("#updatepostname").val();
    //   var content = $("#updatecontent").val();
    //   var image = $("#image").val();
    //   // console.log(`${username}-----${password}`);

    //   $.ajax({
    //       type:'PUT',
    //       url:'/post',
    //       data: {postid:postid, name:name, content:content, image:image},
    //       contentType:'application/x-www-form-urlencoded'
    //   })
    //   .done(function(data) {
    //       $('#updateModal').modal('hide');
    //     // loadData()
    //   });
    // }
    
  </script>
{% endblock %}
