{% extends 'layout.html' %}

{% block title %}
  <title>Profile</title>
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid text-secondary p-5 mb-0">
    <div class="display-4">
      <i class="far fa-address-book"></i>
      Profile
    </div>
  </div>
  <div class="container mx-auto mt-3">
    {% include "includes/_message.html" %}
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <label for="">Username</label>
          <input type="text" class="form-control" name="username" value="{{user.name}}">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" name="email" value="{% if not user.email == None %}{{user.email}}{% endif %}">
        </div>
        <div class="form-group">
          <label for="">Bio</label>
          <textarea class="form-control" name="bio" id="bio" cols="30" rows="3"
          >{% if not user.bio == None %}{{user.bio}}{% endif %}</textarea>
        </div>
        <a href="/profile/update/{{current_user.id}}" class="btn btn-secondary btn-block">Update</a>
        <a href="/profile/delete/{{current_user.id}}" class="btn btn-danger btn-block">Delete</a>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header bg-transparent">
            {% if current_user.profile == None %}
            <img class="card-img-top" src="/static/profile.png" alt="" style="height: 150px;">
            {% else %}
            <img class="card-img-top" src="/static/{{current_user.profile}}" style="height: 150px;">
            {% endif %}
          </div>
          <div class="card-body">
            <form action="/profile/image/update/{{current_user.id}}" method="POST" enctype="multipart/form-data">
              <div class="custom-file">
                <input type="file" name="img" id="img" value="{{current_user.profile}}" class="custom-file-input" >
                <label class="custom-file-label" for=""></label>
              </div>
              <button type="submit" name="editImg" class="btn btn-sm btn-outline-secondary btn-block">
                <i class="fas fa-pencil-alt"></i>
                Edit Image
              </button>
            </form>
          </div>
        </div>
      </div>


  </div>
{% endblock %}