{% extends "layout.html" %}

{% block title %}
  <title>Review</title>
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid text-secondary p-5 mb-0">
    <div class="display-4">
      <i class="fa fa-comment-o"></i>
      Review
    </div>
  </div>
  <div class="container container-fluid mt-3">
    <div class="row">
      <div class="col-md-2 text-center">
        <div class="card p-3">
          <img src="/static/{{post.image}}" alt="" style="width: 100px; height: 100px;" class="img-fluid mx-auto">
        </div>
      </div>
      <div class="col-md-10">
        <div class="card border-0 text-left p-3">
          <h4 class="card-title text-secondary">{{post.name}}</h4> 
          <br>
          <div class="row mb-0">
            <div class="col-6 text-left">
              <p class="text-secondary mb-0">{{post.reviews|length}} reviews</p>
            </div>
            <div class="col-6 text-right">
              <strong>{{post.average()}} of 5.0</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if not post.user_id == current_user.id %}
  <div class="container container-fluid mt-3">
    <div class="card bg-info text-light p-3">
      <p>Add A Review</p>
      <form action="/review/add/{{post.id}}" method="POST">
        <div class="form-group mb-0">
          <input type="text" name="title" class="form-control" id="" placeholder="Title" required> 
          <input type="text" name="content" class="form-control" id="" placeholder="Content" required>
          <!-- check box for rating-->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio" id="radio1" value="1.0" checked>
            <label class="form-check-label" for="radio1">1.0</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio" id="radio2" value="2.0">
            <label class="form-check-label" for="radio2">2.0</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio" id="radio3" value="3.0">
            <label class="form-check-label" for="radio3">3.0</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio" id="radio4" value="4.0">
            <label class="form-check-label" for="radio4">4.0</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="radio" id="radio5" value="5.0">
            <label class="form-check-label" for="radio5">5.0</label>
          </div>
        </div>
        <div class="form-group text-right mb-0">
          <input type="submit" value="Write a customer review" class="btn btn-sm btn-outline-light">
        </div>
      </form>
    </div>
  </div>
  {% endif %}
  <div class="container container-fluid mt-3">
    {% include "includes/_message.html" %}
    {% if post.reviews|length > 0 %}
    <ul class="list-group">
    {% for review in post.reviews %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2 text-center">
            {% if review.editor_reviews.profile == None %}
            <img class="rounded-circle mb-3" src="/static/profile.png" alt="" style="width: 50px; height: 50px;">
            {% else %}
            <img class="rounded-circle mb-3" src="/static/{{review.editor_reviews.profile}}" alt=""
              style="width: 50px; height: 50px;">
            {% endif %}
            <h5>{{review.editor_reviews.name}}</h5>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-6">
                <h5>{{review.title}}</h5>
              </div>
              <div class="col-6 text-right">
                {% if review.user_id == current_user.id %}
                <a href="/review/update/{{review.id}}"><i class="fa fa-pencil text-success"></i></a>
                <a href="/review/delete/{{review.id}}"><i class="fa fa-trash text-danger"></i></a>
                {% endif %}
              </div>
            </div>
            <p class="mb-1 text-warning">
              {% if review.score == 1.0 %}
              ★☆☆☆☆
              {% elif review.score == 2.0 %}
              ★★☆☆☆
              {% elif review.score == 3.0 %}
              ★★★☆☆
              {% elif review.score == 4.0 %}
              ★★★★☆
              {% elif review.score == 5.0 %}
              ★★★★★
              {% endif %}
            </p>
            <p class="mb-1">{{review.content}}</p>
            <p class="text-right mb-0"><small>{{review.update_at}}</small></p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <em class="text-danger">No Review...</em>
    {% endif %}
  </div>
  {% endblock %}