{% extends "layout.html" %}

{% block title %}
  <title>Search</title>
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid text-secondary p-5 mb-0">
    <div class="display-4">
      <i class="fa fa-search"></i>
      Search
    </div>
  </div>
  <div class="container-fluid mx-auto mt-3">
    <div class="row justify-content-center">      
      <div class="col-md-3">
        <div class="card bg-info text-light text-left p-4">
          {% include "includes/_message.html" %}
          <p class="font-weight-bolder">Search Here...</p>
          <form action="/search" method="POST">
          <!-- <form action="/post/search/" method="post" class="form-inline my-2 my-lg-0"> -->
            <div class="form-group">
              <select class="form-control" name="category" id="">
                <option value="" selected>
                </option>
                {% for category in categories %}
                <option value="{{category.id}}">
                  {{category.name}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <input class="form-control mr-sm-2" type="search" name="search" placeholder="Name..." aria-label="Search">
            </div>
            <!-- radio for rating-->
            <small>greater than and equal to...</small>
            <div class="form-group">
              <div class="form-check form-check-inline" hidden>
                <input class="form-check-input" type="radio" name="radio" id="radio0" value="0.0" checked>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radio" id="radio1" value="1.0">
                <label class="form-check-label" for="radio1">1.0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radio" id="radio2" value="2.0">
                <label class="form-check-label" for="radio2">2.0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radio" id="radio3" value="3.0">
                <label class="form-check-label" for="radio3">3.0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radio" id="radio4" value="4.0">
                <label class="form-check-label" for="radio4">4.0</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="radio" id="radio5" value="5.0">
                <label class="form-check-label" for="radio5">5.0</label>
              </div>
            </div>
            <div class="form-group">
              <!-- <div class="form-check form-check-inline" hidden>
                <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox" value="unfavorite">
              </div> -->
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="checkbox" id="checkbox" value="favorite">
                <label class="form-check-label" for="favorite">Your Favorite</label>
              </div>
            </div>
            <div class="form-group text-center">
              <input type="submit" value="Search" class="btn btn-sm btn-outline-light btn-block">
            </div>
          </form>
          <a href="/search" class="btn btn-sm btn-outline-warning btn-block">Reset</a>
        </div>
      </div>
      <div class="col-md-8">
        {% if posts|length > 0 %}
          <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mb-3">
              <div class="card text-center p-1">
                <!-- <a href="/post/{{post.id}}"> -->
                <a href="/item/{{post.id}}">
                  <img class="card-img-top img-fluid" src="/static/{{post.image}}" style="width: 200px; height: 200px;" alt="">
                </a>
                <div class="card-body pb-0">
                  <h5 class="card-title">{{post.name}}</h5>
                  <div class="border-bottom"></div>
                  <br>
                  <div class="row mb-0">
                    <div class="col-6 text-left">
                      <p class="text-secondary mb-0">{{post.reviews|length}} reviews</p>
                    </div>
                    <div class="col-6 text-right">
                      <a href="/review/{{post.id}}">
                        {{post.average()}} of 5.0
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6 text-left">
                      <a href="" class="text-secondary">{{post.likes.count()}} likes</a>
                    </div>
                    <div class="col-6 text-right">
                      {% if current_user.has_liked_post(post) %}
                      <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}" class="text-warning"><i
                          class="fa fa-star"></i></a>
                      {% else %}
                      <a href="{{ url_for('like_action', post_id=post.id, action='like') }}" class="text-warning"><i
                          class="fa fa-star-o"></i></a>
                      {% endif %}
                    </div>
                  </div>
                  <!-- <p class="dttime text-left">{{post.update_at}}</p> -->
                  <p class="text-right"><small>{{post.update_at}}</small></p>
                  <div class="alert alert-secondary">
                    <strong>{{post.categories.name}}</strong>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% else %}
        <div class="alert alert-danger">
          <em>No Item...</em>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
